// Some basic resets
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
// Basic styling
body {
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
}
// `main` element
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}
// Images
img {
  max-width: 100%;
  vertical-align: middle;
}
// Figures
figure > img {
  display: block;
}
// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
// Links and buttons
a,
button {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
  transition: color 100ms, border-color 100ms;
}
button {
  background: #f8f8f8;
  border: none;
  cursor: pointer;
  &[disabled] {
    cursor: default;
    opacity: 0.3;
  }
}
// Wrapper
.inner {
  margin: 0 auto;
}
// Clearfix
%clearfix:after {
  clear: both;
  content: '';
  display: table;
}
// Offscreen text
.offscreen {
  left: -999999px;
  position: absolute;
  top: -999999px;
}
// Icons
i {
  &.icon {
    transition: opacity 300ms;
    &:before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 30px;
      width: 30px;
    }
  }
  &.caret {
    &:before {
      background-image: url(map-get($icons, 'caret-grey'));
    }
  }
  &.desktop {
    &:before {
      background-image: url(map-get($icons, 'desktop-grey'));
    }
  }
  &.download {
    &:before {
      background-image: url(map-get($icons, 'download-grey'));
    }
  }
  &.facebook {
    &:before {
      background-image: url(map-get($icons, 'facebook-black'));
    }
  }
  &.instagram {
    &:before {
      background-image: url(map-get($icons, 'instagram-black'));
    }
  }
  &.mobile {
    &:before {
      background-image: url(map-get($icons, 'mobile-grey'));
    }
  }
  &.twitter {
    &:before {
      background-image: url(map-get($icons, 'twitter-black'));
    }
  }
  &.twitter-grey {
    &:before {
      background-image: url(map-get($icons, 'twitter-grey'));
    }
  }
  &.wordfly {
    &:before {
      background-image: url(map-get($icons, 'wordfly-black'));
    }
  }
}
