<a class="cta-intermission-at-home" href="/exhibition">Exhibit – Intermission: Arts@Home</a>
<nav class="filter">
  <ul>
    <li>
      <button class="active" data-tag="all">All</button>
    </li>
    <li>
      <button data-tag="newsletter">Newsletters</button>
    </li>
    <li>
      <button data-tag="event">Events</button>
    </li>
    <li>
      <button data-tag="automation">Automations</button>
    </li>
    <li>
      <button data-tag="shop">Shops</button>
    </li>
    <li>
      <button data-tag="membership">Membership</button>
    </li>
    <li>
      <button data-action="show-search">
        <i class="icon search"></i>
        <span class="offscreen">Search</span>
      </button>
      <input id="search" type="search" name="search" placeholder="Type your search here" />
    </li>
  </ul>
</nav>
