<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="/favicon.ico" />
  {%- seo -%}
  <meta property="og:image" content="/assets/images/logo.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="290" />
  <link rel="stylesheet" href="https://use.typekit.net/xnu0puz.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?{{site.time | date: '%s%N'}}" />
</head>
